@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


.nav-buttons
{
    background: none;
    border: none;
    font-size: 20px;
    color: #F7E6F6;
}

.nav-buttons:hover
{
    opacity: 0.9;
    text-shadow: 5px 5px 5px #000000;
}

.nav
{
    background-color: #C55583;
    padding: 30px 0px;
    text-align: center;
}

.header
{
    text-align: center;

}

.header_title
{
    font-size: 50px;
    padding: 50px 0px 10px 0px;
    
}

.header_subtitle
{
    font-size: 24px;
}

.footer 
{
    background-color: #C55583;
    text-align: center;
    margin-top: auto;
    padding: 30px 0px;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-color: #F7E6F6;

    font-family: 'Verdana' , sans-serif;

}

.team_info
{
    font-size: 20px;
    color: #F7E6F6;
    word-spacing: 10px;
}

.main{
    color: #7A3049;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.featured
{
    background-color: #000000;
    max-width: 100%;
    flex: 1;

}

.featured_title 
{

}

.featured_panel
{

}

.featured_panel_item
{

}
